#nhtsaBox {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(26, 26, 26, 0.829);
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

#formDiv {
    height: auto;
}

#recallResults {
    height: 250px;
    overflow-y: auto;
}