form.signup,
form.login {
  margin-top: 50px;
}

html {
  /* To make use of full height of page*/
  min-height: 100vh;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

.uk-light {
  margin-top: 12%;
}

/* ========================================== Toggle CSS ======================================================== */
/* The switch - the box around the slider */
.switch {
  position: relative;
  float: right;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(133, 43, 55);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(34, 78, 107);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.backgroundImg {
  max-width: 100%;
  max-height: 100%;
  float: left;
}

/* ==================================================================================================================== */